* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

#principal {
    background-image: url("/img/Monasterio_7H9A9908.jpg");
}

#portal {
    background-image: url("/img/Monasterio_7H9A9937.jpg");
}

#esglesia {
    background-image: url("/img/Monasterio_7H9A9911.jpg");
}

#claustre {
    background-image: url("/img/Monasterio_7H9A9958.jpg");
}

#refectori {
    background-image: url("/img/Monasterio_7H9A9922.jpg");
}

#font {
    background-image: url("/img/Monasterio_7H9A9979.jpg");
}

#capitol {
    background-image: url("/img/Monasterio_7H9A9970.jpg");
}

.parallax {
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    height: auto;
    text-align: center;
    float: left;
    position: relative;
    top: -19px;
}

h1 {
    width: 100%;
    padding: 5vh 0;
    position: fixed;
    text-align: center;
    color: #fffffd;
    background-color: #0b7aaa;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

h2 {
    position: relative;
    width: fit-content;
    background-color: #4b9dbc;
    font-size: 1.2em;
    color: #fffffd;
    text-align: left;
    padding: 5px 10px;
    margin-bottom: -10px;
    opacity: 0.9;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

p {
    background-color: #343946;
    color: #fffffd;
    text-align: justify;
    padding: 15px 60px;
    font-size: 0.75em;
    line-height: 1.5;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

div:nth-of-type(even) p {
    background-color: #fffffd;
    color: darkslategrey;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #0b7aaa;
    padding: 3vh 0;
    text-align: center;
    color: #fffffd;
}
